#### Database configuration ####
#
#   Set mondoDb address

DATABASE=mongodb://localhost/test

#### Certification ####
#
#   Certification file names.

#CERTIFICATE_FILE=server.cert
#PRIVATE_KEY_FILE=server.key
CERTIFICATE_FILE=cert.pem
PRIVATE_KEY_FILE=key.pem
NODE_TLS_REJECT_UNAUTHORIZED = "0"

#### Web tokens ####
#
#   Values for auth process

JWT_SECRET=aslifjoi349ms1-am092mfm999-23049-woefk-2904ri999f40-p9-=mk